.root {
  font-size: 16px;
  font-weight: 500;
  line-height: 137.5%;
  display: inline-flex;
  padding: 4px;
  border-radius: 12px;
  background: #eff1f6;
  gap: 4px;
  & > li {
    padding: 12px 16px;
    color: #596173;
    @media (max-width: 480px) {
      padding: 8px 12px;
    }
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
.activeTab {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
  color: #0b0c0e !important;
}
