.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  & > *:nth-child(1) {
    grid-column: span 3;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    & > *:nth-child(1) {
      grid-column: span 2;
    }
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    & > *:nth-child(1) {
      grid-column: span 1;
    }
  }
}
