.root {
  border-radius: 12px;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  @media (max-width: 480px) {
    padding: 12px;
  }
}
