.root {
  border-radius: 12px;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  & > *:nth-child(1),
  & > *:nth-child(2) {
    grid-column: span 3;
  }
  & > *:nth-child(n + 3) {
    grid-column: span 2;
  }
}
